/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.center {
  margin: 0 auto;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #dfdfdf;
  overflow-y: scroll;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 3em;
  font-family: Georgia,serif;
}
#app {
  display: inline;
  float: left;
  width: 50%;
  margin: 0 0%;
  margin-left: 25%;
}
#app #brand {
  padding: 2em;
}
#app #features .feature {
  padding: 1em;
  background: #333333;
  display: block;
  width: 100%;
  margin: 0 0%;
  *zoom: 1;
}
#app #features .feature:before,
#app #features .feature:after {
  content: "";
  display: table;
}
#app #features .feature:after {
  clear: both;
}
#app #features .feature:nth-child(odd) .feature-picture-wrapper {
  float: left;
}
#app #features .feature:nth-child(odd) .feature-picture-wrapper {
  float: right;
}
#app #features .feature .feature-picture-wrapper {
  display: inline;
  float: left;
  width: 33.33333333333333%;
  margin: 0 0%;
}
#app #features .feature .feature-text-wrapper {
  display: inline;
  float: left;
  width: 66.66666666666666%;
  margin: 0 0%;
}
